 
<div class="row">
<h1> Names Greeted</h1>

<h2>Hello, {{name}} has been greeted {{counting}} times</h2>

<form action="/back_Button" method="POST">
<button class="back" name="BackButton" type="submit" onclick="" value ="clear">back</button>
</form>
</div>